* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 215, 222, 0.65);
}

.joke-container {
  text-align: center;
  margin-top: 4rem;
}

.joke-header {
  font-size: 2.6rem;
  font-style: italic;
}

hr {
  margin: 0 auto;
  width: 350px;
}

.joke-setup {
  margin-top: 5rem;
  font-size: 2rem;
}

.joke-punchline {
  margin-top: 4rem;
  font-size: 1.4rem;
}

.joke-button {
  background-color: rgb(251, 186, 64);
  color: rgb(128, 111, 111);
  margin-top: 4rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  border-radius: 7px;
  box-shadow: 1px 1px 1px grey;
}
